/**
 *
 */

.rea11y-Modal-backdrop {
	display: table-cell;
	vertical-align: middle;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	overflow-y: auto;
}

.rea11y-Modal {
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
	background: #fff;
}
