/**
 *
 */

.r1y-NumberInput {
	position: relative;
	border: 1px solid #aaa;
	background: #fff;
}

.r1y-NumberInput--withControls {
	padding-right: 1.5em;
}

.r1y-NumberInput-value {
	box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 0.375em;
	width: 100%;
	line-height: 1.5em;
	font-size: 1em;
}

.r1y-NumberInputControl {
	position: absolute;
	border: none;
	width: 3em;
	background: #ddd;
	color: #000;
	text-align: center;
	line-height: 1.5em;
	font-size: 0.5em;
	font-weight: bold;
}

.r1y-NumberInputControl:hover {
	background: #aaa;
}

.r1y-NumberInputControl-increment {
	top: 0;
	right: 0;
}

.r1y-NumberInputControl-decrement {
	bottom: 0;
	right: 0;
}
