/**
 *	Progress bar.
 */

.reaccess-progress {
	position: relative;
	border: 1px solid #aaa;
}

.reaccess-progress-horizontal {
	width: 100%;
	height: 1.5em;
}

.reaccess-progress-vertical {
	width: 1.5em;
	height: 6em;
}

.reaccess-progress-max {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.reaccess-progress-value {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #aaa;
}

.reaccess-progress-horizontal .reaccess-progress-value {
	top: 0;
}

.reaccess-progress-vertical .reaccess-progress-value {
	right: 0;
}

.reaccess-progress-text {
	position: relative;
	text-align: center;
}
