/**
 *
 */

.rea11y-ProgressBar {
	position: relative;
	border: 1px solid #aaa;
}

.rea11y-ProgressBar--horizontal {
	width: 100%;
	height: 1.5em;
}

.rea11y-ProgressBar--vertical {
	width: 1.5em;
	height: 6em;
}

.rea11y-ProgressBar-track {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.rea11y-ProgressBar-value {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ddd;
}

.rea11y-ProgressBar--horizontal .rea11y-ProgressBar-value {
	top: 0;
}

.rea11y-ProgressBar--vertical .rea11y-ProgressBar-value {
	right: 0;
}

.rea11y-ProgressBar-text {
	position: relative;
	text-align: center;
}
