/**
 *	Slider.
 */

.rea11y-slider {
	position: relative;
	border: 1px solid #aaa;
}

.rea11y-slider-horizontal {
	width: 100%;
	height: 1.5em;
}

.rea11y-slider-vertical {
	width: 1.5em;
	height: 6em;
}

.rea11y-slider-track {
	position: absolute;
}

.rea11y-slider-horizontal .rea11y-slider-track {
	top: 0;
	right: 0.75em;
	bottom: 0;
	left: 0.75em;
}

.rea11y-slider-vertical .rea11y-slider-track {
	top: 0.75em;
	right: 0;
	bottom: 0.75em;
	left: 0;
}

.rea11y-slider-handle {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
}

.rea11y-slider-horizontal .rea11y-slider-handle {
	bottom: 0;
}

.rea11y-slider-vertical .rea11y-slider-handle {
	left: 0;
}

.rea11y-slider-handle-control {
	position: relative;
	left: -0.75em;
	height: 1.5em;
	background: #aaa;
	cursor: grab;
}

.rea11y-slider-handle-control:focus {
	z-index: 10;
}

.rea11y-slider-handle-dragging .rea11y-slider-handle-control {
	cursor: grabbing;
}

.rea11y-slider-horizontal .rea11y-slider-handle-control {
	width: 1.5em;
}

.rea11y-slider-vertical .rea11y-slider-handle-control {
	height: 1.5em;
}

.rea11y-slider-handle-text {
	position: relative;
	left: -0.75em;
	width: 1.5em;
	text-align: center;
	overflow: visible;
}
