/**
 *
 */

.rea11y-Slider {
	position: relative;
	margin-bottom: 1.5em;
}

.rea11y-Slider--horizontal {
	width: 100%;
	height: 1.5em;
}

.rea11y-Slider--vertical {
	width: 1.5em;
	height: 6em;
}

.rea11y-Slider-track {
	position: absolute;
	top: 0.375em;
	right: 0.75em;
	bottom: 0.375em;
	left: 0.75em;
	border: 1px solid #aaa;
	border-radius: 0.375em;
	background: #ddd;
}

.rea11y-Slider:not(.rea11y-Slider--1) .rea11y-Slider-track {
	background: #fff;
}

.rea11y-SliderHandle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0.75em;
	background: #fff;
}

.rea11y-Slider:not(.rea11y-slider--1) .rea11y-SliderHandle {
	background: #ddd;
}

.rea11y-Slider:not(.rea11y-slider--1) .rea11y-SliderHandle:last-child {
	background: #fff;
}

.rea11y-Slider--horizontal .rea11y-SliderHandle {
	bottom: 0;
}

.rea11y-Slider--vertical .rea11y-SliderHandle {
	left: 0;
}

.rea11y-SliderHandle-control {
	box-sizing: border-box;
	position: relative;
	top: -0.375em;
	left: -0.75em;
	height: 1.5em;
	border: 1px solid #aaa;
	border-radius: 0.75em;
	background: #ddd;
	cursor: grab;
}

.rea11y-SliderHandle-control:hover,
.rea11y-SliderHandle-control:focus {
	background: #aaa;
	z-index: 10;
}

.rea11y-SliderHandle-control:focus {
	z-index: 10;
}

.rea11y-SliderHandle.is-dragging .rea11y-SliderHandle-control {
	cursor: grabbing;
}

.rea11y-Slider--horizontal .rea11y-SliderHandle-control {
	width: 1.5em;
}

.rea11y-Slider--vertical .rea11y-SliderHandle-control {
	height: 1.5em;
}

.rea11y-SliderHandle-text {
	position: relative;
	left: -1.5em;
	width: 3em;
	text-align: center;
	overflow: visible;
}
