/**
 *
 */

.rea11y-Tab {
	margin: 0;
	border: none;
	padding: 0.75em;
	background: #ddd;
}

.rea11y-Tabs--vertical .rea11y-Tab {
	display: block;
	width: 100%;
}

.rea11y-Tab--active {
	background: #fff;
}

.rea11y-Tab:hover,
.rea11y-Tab:focus {
	background: #aaa;
}

.rea11y-Tab--active:hover,
.rea11y-Tab--active:focus {
	background: #fff;
}
