/**
 *	Tabs.
 */

.rea11y-tabs {
	border: 1px solid #aaa;
}

.rea11y-tabs-vertical {
	display: table;
	width: 100%;
}

.rea11y-tab-list {
	background: #ddd;
}

.rea11y-tabs-vertical .rea11y-tab-list,
.rea11y-tabs-vertical .rea11y-panel-list {
	display: table-cell;
	vertical-align: top;
}

.rea11y-tabs-vertical .rea11y-panel-list {
	width: 99%;
}

.rea11y-tab {
	margin: 0;
	border: none;
	padding: 0.75em;
	background: #ddd;
}

.rea11y-tabs-vertical .rea11y-tab {
	display: block;
	width: 100%;
}

.rea11y-tab-active {
	background: #fff;
}

.rea11y-tab:hover,
.rea11y-tab:focus {
	background: #aaa;
}

.rea11y-tab-active:hover,
.rea11y-tab-active:focus {
	background: #fff;
}

.rea11y-panel {
	display: none;
	padding: 0.75em;
}

.rea11y-panel-active {
	display: inherit;
}
