/**
 *	Tabs.
 */

.r1y-Tabs {
	border: 1px solid #aaa;
}

.r1y-Tabs--vertical {
	display: table;
	width: 100%;
}

.r1y-Tabs-tablist {
	background: #ddd;
}

.r1y-Tabs--vertical .r1y-Tabs-tablist,
.r1y-Tabs--vertical .r1y-Tabs-panelList {
	display: table-cell;
	vertical-align: top;
}

.r1y-Tabs--vertical .r1y-Tabs-panelList {
	width: 99%;
}

.r1y-Tab {
	margin: 0;
	border: none;
	padding: 0.75em;
	background: #ddd;
}

.r1y-Tabs--vertical .r1y-Tab {
	display: block;
	width: 100%;
}

.r1y-Tab--active {
	background: #fff;
}

.r1y-Tab:hover,
.r1y-Tab:focus {
	background: #aaa;
}

.r1y-Tab--active:hover,
.r1y-Tab--active:focus {
	background: #fff;
}

.r1y-Panel {
	display: none;
	padding: 0.75em;
}

.r1y-Panel--active {
	display: inherit;
}
