/**
 *
 */

.r1y-Tabs {
	border: 1px solid #aaa;
}

.r1y-Tabs--vertical {
	display: table;
	width: 100%;
}

.r1y-Tabs-tablist {
	background: #ddd;
}

.r1y-Tabs--vertical .r1y-Tabs-tablist,
.r1y-Tabs--vertical .r1y-Tabs-panelList {
	display: table-cell;
	vertical-align: top;
}

.r1y-Tabs--vertical .r1y-Tabs-panelList {
	width: 99%;
}
