/**
 *
 */

.rea11y-Tabs {
	border: 1px solid #aaa;
}

.rea11y-Tabs--vertical {
	display: table;
	width: 100%;
}

.rea11y-Tabs-tablist {
	background: #ddd;
}

.rea11y-Tabs--vertical .rea11y-Tabs-tablist,
.rea11y-Tabs--vertical .rea11y-Tabs-panelList {
	display: table-cell;
	vertical-align: top;
}

.rea11y-Tabs--vertical .rea11y-Tabs-panelList {
	width: 99%;
}
