{
	"parser": "babel-eslint",
	"plugins": [
		"decorator",
		"react"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"ecmaFeatures": {
		"jsx": true
	},
	"rules": {
		"brace-style": "stroustrup",
		"camelcase": true,
		"eol-last": true,
		"eqeqeq": true,
		"max-depth": 2,
		"no-mixed-spaces-and-tabs": true,
		"no-var": true,
		"quotes": "single",
		"strict": "global",
		"react/jsx-uses-vars": 1,
		"react/self-closing-comp": 1,
		"react/wrap-multilines": 1
	}
}
