/**
 *	Reset.
 */

html {
	margin: 0;
	padding: 0;
	background: #111;
	color: #ddd;
	line-height: 1.5em;
	font-size: 100%;
	font-family: sans-serif;
}

body {
	margin: 1.5em auto;
	padding: 0;
	max-width: 35em;
	background: #111;
}

code {
	padding: 0 0.375em;
	background: #222;
	font-family: monospace;
}

kbd {
	display: inline-block;
	margin: 0;
	padding: 0 0.75em;
	background: #ddd;
	color: #111;
	line-height: 1.5em;
	font-family: monospace;
	font-weight: bold;
}

kbd:first-child {
	margin-left: 0;
}

p {
	margin: 0 0 1.5em 0;
}

a {
	color: #3D9970;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #FF851B;
}

a:active {
	color: #85144B;
}

button {
	display: inline-block;
	border: none;
	padding: 0.75em;
	background: #3D9970;
	color: #111;
	line-height: inherit;
	font-size: inherit;
	font-weight: bold;
	cursor: pointer;
}

button:hover,
button:focus {
	background: #FF851B;
}

button:active {
	background: #85144B;
	color: #ddd;
}

:focus {
	outline: 1px dotted #DDDDDD;
	outline-offset: 1px;
}



/**
 *	Layout.
 */

.Page-header {
	margin: 6em 0 9em 0;
	text-align: center;
}

.Page-title {
	margin: 0;
	color: #3D9970;
	text-align: center;
	line-height: 1.5em;
	font-size: 4em;
}

.Pattern {
	margin: 6em 0;
}

.Pattern-name {
	margin: 1.5em 0 0.75em 0;
	color: #3D9970;
	line-height: 1.5em;
	font-size: 2em;
}

.Pattern-interactions {
	margin: 0;
	padding: 0 0 1.5em 0;
	list-style: none;
	overflow-x: hidden;
}

/* http://www.w3.org/Style/Examples/007/leaders */

.Pattern-interaction:before {
	float: left;
    width: 0;
    white-space: nowrap;
    color: #aaa;
    content:
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
}

.Pattern-interaction span:first-child {
	padding-right: 0.75em;
	background: #111;
}

.Pattern-interaction span + span {
	float: right;
	padding-left: 0.75em;
	background: #111;
}

.Pattern-example {
	margin-bottom: 1.5em;
}

.Page-footer {
	margin: 9em 0 6em 0;
	text-align: center;
}

.Page-footer p {
	margin: 0;
}



/**
 *	Number input.
 */

.r1y-NumberInput {
	border: 1px solid #3D9970;
}

.r1y-NumberInput--withControls {
	padding-right: 3em;
}

.r1y-NumberInput-value {
	padding: 0.75em;
}

.r1y-NumberInputControl {
	width: 3em;
	height: 1.5em;
	padding: 0;
	background: #3D9970;
	line-height: 1.5em;
	font-size: 1em;
}



/**
 *	Progress bar.
 */

.r1y-ProgressBar {
	border: 1px solid #3D9970;
}

.r1y-ProgressBar--horizontal {
	height: 3em;
}

.r1y-ProgressBar--vertical {
	width: 100%;
}

.r1y-ProgressBar-value {
	background: #3D9970;
}

.r1y-ProgressBar-text {
	padding: 0.75em;
	font-weight: bold;
}



/**
 *	Slider.
 */

.r1y-Slider-track {
	border: 1px solid #3D9970;
	background: #ddd;
}

.r1y-RangeSlider .r1y-Slider-track {
	background: #111;
}

.r1y-SliderHandle {
	background: #111;
}

.r1y-RangeSlider .r1y-SliderHandle:first-child {
	background: #ddd;
}

.r1y-SliderHandle-control {
	border: none;
	background: #3D9970;
}

.r1y-SliderHandle-control:hover,
.r1y-SliderHandle-control:focus {
	background: #FF851B;
}

.r1y-SliderHandle-control:active {
	background: #85144B;
}

.r1y-SliderHandle-text {
	font-weight: bold;
}



/**
 *	Tabs.
 */

.r1y-Tabs {
	border-color: #3D9970;
}

.r1y-Tab-tabList {
	background: #3D9970;
}

.r1y-Tab {
	background: #3D9970;
}

.r1y-Tab:hover,
.r1y-Tab:focus {
	background: #FF851B;
}

.r1y-Tab:active {
	background: #85144B;
	color: #ddd;
}

.r1y-Tab--active {
	background: #111;
	color: #ddd;
}

.r1y-Tab--active:hover,
.r1y-Tab--active:focus {
	background: #111;
}



/**
 *	Forms.
 */

.r1y-Field-label {
	color: #3D9970;
}

.r1y-Field-input {
	padding: 0.75em;
	border: 1px solid #3D9970;
}



/**
 *
 */

.r1y-Modal {
	outline: 0.75em solid #111;
	color: #111;
}

.r1y-Modal-backdrop:focus .r1y-Modal {
	outline-color: #222;
}

.Modal-header {
	padding: 1.5em;
	background: #3D9970;
	color: #fff;
}

.Modal-title {
	margin: 0;
	line-height: 1em;
	font-size: 1.5em;
}

.Modal-body {
	padding: 1.5em;
}

.Modal-footer {
	padding: 1.5em;
	background: #ddd;
	text-align: center;
}

.Modal-footer button {
	margin: 0 1px;
}
