/**
 *	Reset.
 */

html {
	margin: 0;
	padding: 0;
	background: #111;
	color: #ddd;
	line-height: 1.5em;
	font-size: 100%;
	font-family: sans-serif;
}

body {
	margin: 1.5em auto;
	padding: 0;
	max-width: 35em;
	background: #111;
}

kbd {
	display: inline-block;
	margin: 0;
	padding: 0 0.75em;
	background: #ddd;
	color: #111;
	line-height: 1.5em;
	font-weight: bold;
}

kbd:first-child {
	margin-left: 0;
}

p {
	margin: 0 0 1.5em 0;
}

a {
	color: #3D9970;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	display: inline-block;
	border: none;
	padding: 0 0.75;
	background: #3D9970;
	color: #111;
	line-height: inherit;
	font-size: inherit;
	font-weight: bold;
	cursor: pointer;
}

:focus {
	outline: 1px dotted #DDDDDD;
	outline-offset: 1px;
}



/**
 *	Layout.
 */

.page-header {
	margin: 6em 0 9em 0;
	text-align: center;
}

.page-title {
	margin: 0;
	color: #3D9970;
	text-align: center;
	line-height: 1.5em;
	font-size: 4em;
}

.pattern {
	margin: 6em 0;
}

.pattern-name {
	margin: 1.5em 0;
	color: #3D9970;
	line-height: 1.5em;
	font-size: 2em;
}

.pattern-interactions {
	margin: 0;
	padding: 0 0 1.5em 0;
	list-style: none;
	overflow-x: hidden;
}

/* http://www.w3.org/Style/Examples/007/leaders */

.pattern-interaction:before {
	float: left;
    width: 0;
    white-space: nowrap;
    color: #aaa;
    content:
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
}

.pattern-interaction span:first-child {
	padding-right: 0.75em;
	background: #111;
}

.pattern-interaction span + span {
	float: right;
	padding-left: 0.75em;
	background: #111;
}

.pattern-example {
	margin-bottom: 1.5em;
}

.page-footer {
	margin: 9em 0 6em 0;
	text-align: center;
}

.page-footer p {
	margin: 0;
}



/**
 *	Progress bars.
 */

.reaccess-progress {
	border: 1px solid #3D9970;
}

.reaccess-progress-horizontal {
	height: 3em;
}

.reaccess-progress-vertical {
	width: 100%;
}

.reaccess-progress-value {
	background: #3D9970;
}

.reaccess-progress-text {
	padding: 0.75em;
}



/**
 *	Sliders.
 */

.reaccess-slider {
	border: 1px solid #3D9970;
}

.reaccess-slider-handle-control {
	background: #3D9970;
}



/**
 *	Tabs.
 */

.reaccess-tab-list {
	border: 1px solid #3D9970;
	border-bottom: none;
	background: #3D9970;
}

.reaccess-tab {
	padding: 0.75em;
}

.reaccess-tab:hover {
	background: #aaa;
	color: #111;
}

.reaccess-tab-active {
	background: #111;
	color: #ddd;
}

.reaccess-tab-panel {
	display: none;
	border: 1px solid #3D9970;
	border-top: none;
	padding: 0.75em;
}

.reaccess-tab-panel-active {
	display: inherit;
}
