/**
 *	Reset.
 */

html {
	margin: 0;
	padding: 0;
	background: #111;
	color: #ddd;
	line-height: 1.5em;
	font-size: 100%;
	font-family: sans-serif;
}

body {
	margin: 1.5em auto;
	padding: 0;
	max-width: 35em;
	background: #111;
}

kbd {
	display: inline-block;
	margin: 0;
	padding: 0 0.75em;
	background: #ddd;
	color: #111;
	line-height: 1.5em;
	font-weight: bold;
}

kbd:first-child {
	margin-left: 0;
}

p {
	margin: 0 0 1.5em 0;
}

a {
	color: #3D9970;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #FF851B;
}

a:active {
	color: #85144B;
}

button {
	display: inline-block;
	border: none;
	padding: 0 0.75;
	background: #3D9970;
	color: #111;
	line-height: inherit;
	font-size: inherit;
	font-weight: bold;
	cursor: pointer;
}

button:hover,
button:focus {
	background: #FF851B;
}

button:active {
	background: #85144B;
	color: #ddd;
}

:focus {
	outline: 1px dotted #DDDDDD;
	outline-offset: 1px;
}



/**
 *	Layout.
 */

.page-header {
	margin: 6em 0 9em 0;
	text-align: center;
}

.page-title {
	margin: 0;
	color: #3D9970;
	text-align: center;
	line-height: 1.5em;
	font-size: 4em;
}

.pattern {
	margin: 6em 0;
}

.pattern-name {
	margin: 1.5em 0 0.75em 0;
	color: #3D9970;
	line-height: 1.5em;
	font-size: 2em;
}

.pattern-interactions {
	margin: 0;
	padding: 0 0 1.5em 0;
	list-style: none;
	overflow-x: hidden;
}

/* http://www.w3.org/Style/Examples/007/leaders */

.pattern-interaction:before {
	float: left;
    width: 0;
    white-space: nowrap;
    color: #aaa;
    content:
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
		'. . . . . . . . . . . . . . . . . . . . '
}

.pattern-interaction span:first-child {
	padding-right: 0.75em;
	background: #111;
}

.pattern-interaction span + span {
	float: right;
	padding-left: 0.75em;
	background: #111;
}

.pattern-example {
	margin-bottom: 1.5em;
}

.page-footer {
	margin: 9em 0 6em 0;
	text-align: center;
}

.page-footer p {
	margin: 0;
}



/**
 *	Number input.
 */

.rea11y-number-input {
	border: 1px solid #3D9970;
	padding-right: 3em;
}

.rea11y-number-input-value {
	padding: 0.75em;
	height: 3em;
	line-height: 3em;
}

.rea11y-number-input-control {
	width: 3em;
	height: 1.5em;
	background: #3D9970;
	line-height: 1.5em;
	font-size: 1em;
}



/**
 *	Progress bar.
 */

.rea11y-progress-bar {
	border: 1px solid #3D9970;
}

.rea11y-progress-bar-horizontal {
	height: 3em;
}

.rea11y-progress-bar-vertical {
	width: 100%;
}

.rea11y-progress-bar-value {
	background: #3D9970;
}

.rea11y-progress-bar-text {
	padding: 0.75em;
}

.progress-bar-target {
	border: 1px solid #3D9970;
	padding: 0.75em;
	color: #ddd;
}

.progress-bar-target[aria-busy="false"] {
	background: #3D9970;
	color: #111;
}

.progress-bar-target p {
	margin: 0;
}



/**
 *	Slider.
 */

.rea11y-slider-track {
	border: 1px solid #3D9970;
	background: #ddd;
}

.rea11y-slider-range .rea11y-slider-track {
	background: #111;
}

.rea11y-slider-handle {
	background: #111;
}

.rea11y-slider-range .rea11y-slider-handle:first-child {
	background: #ddd;
}

.rea11y-slider-handle-control {
	border: none;
	background: #3D9970;
}

.rea11y-slider-handle-control:hover,
.rea11y-slider-handle-control:focus {
	background: #FF851B;
}

.rea11y-slider-handle-control:active {
	background: #85144B;
}



/**
 *	Tabs.
 */

.rea11y-tabs {
	border-color: #3D9970;
}

.rea11y-tab-list {
	background: #3D9970;
}

.rea11y-tab {
	background: #3D9970;
}

.rea11y-tab:hover,
.rea11y-tab:focus {
	background: #FF851B;
}

.rea11y-tab:active {
	background: #85144B;
	color: #ddd;
}

.rea11y-tab-active {
	background: #111;
	color: #ddd;
}

.rea11y-tab-active:hover,
.rea11y-tab-active:focus {
	background: #111;
}
